@page
@model ClearSpam.Web.Pages.Rules.DeleteRule

@{
    ViewData["Title"] = "Delete Rule";
}

<h1>Delete Rule for Account: @Model.Rule.Account.Name</h1>

<div>
    <div class="row">
        <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="form-group">
                <label asp-for="Rule.Field" class="control-label"></label>
                <input asp-for="Rule.Field" class="form-control" disabled />
                <span asp-validation-for="Rule.Field" class="text-danger"></span>
            </div>
        </div>
        <div class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <div class="form-group">
                <label asp-for="Rule.Content" class="control-label"></label>
                <input asp-for="Rule.Content" class="form-control" disabled />
                <span asp-validation-for="Rule.Content" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-left">
            <a asp-page="../Accounts/Details" asp-route-id="@Model.Rule.Account.Id" class="btn btn-primary">Cancel</a>
        </div>
        <div class="col text-right">
            <form method="post">
                <input type="hidden" asp-for="Rule.Id" />
                <input type="submit" value="Delete Rule" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>
