@page
@model CreateAccount

@{
    ViewData["Title"] = "Create";
}

<h1>Create Account</h1>

<form method="post">
    <div class="row">
        <div class="col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Account.Name" class="control-label"></label>
                <input asp-for="Account.Name" class="form-control" />
                <span asp-validation-for="Account.Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Account.Server" class="control-label"></label>
                <input asp-for="Account.Server" class="form-control" />
                <span asp-validation-for="Account.Server" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Account.Port" class="control-label"></label>
                <input asp-for="Account.Port" class="form-control" />
                <span asp-validation-for="Account.Port" class="text-danger"></span>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label asp-for="Account.Ssl" class="control-label"></label>
                <select asp-for="Account.Ssl" class="form-control">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Account.Login" class="control-label"></label>
                <input asp-for="Account.Login" class="form-control" />
                <span asp-validation-for="Account.Login" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label"></label>
                <input asp-for="Account.Password" class="form-control" type="password" />
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-left">
            <a asp-page="Index" class="btn btn-warning">Cancel</a>
        </div>
        <div class="col text-right">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
